<footer class="relative pt-12 pb-36 mt-16 bg-gray-200 text-black outer">
    <div class="inner">
        <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
        </section>
        <nav class="site-footer-nav">
            {{navigation type="secondary"}}
        </nav>
    </div>
</footer>